@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Yellowtail&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive;
*/
* {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 72px;	
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #007bff;
}

img {
	width: 250px;
	border-radius: 50%;
	background-color: white;
}

ul {
	list-style: none;
	padding: 0;
}

#landing,
#gallery {
	min-height: 80vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
}

.tools {
	padding: 25px;
	height: 200px;
	border: 5px solid #f2f2f2;
	margin: 25px;
	width: 75%;
}

html {
	scroll-behavior: smooth;
}

#landing {
	margin-top: 75px;
}